<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>ShortHub™</title>
  <link rel="stylesheet" href="../css/output.css">
</head>

<body style="display: flex; flex-direction: column; min-height: 100vh;" class="">
  <nav class="bg-white border-gray-200 p-1 text-xl dark:bg-gray-900">
    <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-3">
      <a class="flex items-center space-x-3 rtl:space-x-reverse">
        <span class="self-center lg:text-3xl text-xl font-semibold whitespace-nowrap dark:text-white">ShortHub™</span>
      </a>

      <div class="text-sm text-white font-semibold md:text-lg">
        <span class="text-blue-400 ">Your Username:</span> - <%- data.email %>
      </div>
    </div>
  </nav>

  <section class="mb-5">
    <div class="flex flex-col items-center py-5">
      <div class=" shadow-xl rounded-lg p-8 w-full max-w-5xl mx-auto">
        <form id="myForm" class="flex flex-col md:flex-row md:gap-10 md:items-center">
          <div class="flex flex-col gap-2 w-full md:w-1/2">
            <label for="url" class="text-lg md:text-xl font-medium text-gray-700">Paste a long URL</label>
            <input type="url"
              class="w-full text-gray-800 rounded-lg p-1 border border-gray-300 focus:outline-none focus:ring-2 focus:ring-blue-500"
              name="url" id="inputURL" required />
          </div>

          <div class="flex flex-col gap-2 w-full md:w-1/2">
            <label for="shortURL" class="text-lg md:text-xl font-medium text-gray-700">Get Your Short URL</label>
            <div
              class="w-full text-gray-800 h-8 rounded-lg p-1 border border-gray-300 focus:outline-none focus:ring-2 focus:ring-blue-500"
              id="shortURL"> </div>
          </div>

          <div class="flex justify-center md:justify-start mt-6 md:mt-0 md:w-auto">
            <input type="submit" value="Get Short URL"
              class="bg-gradient-to-r from-blue-500 to-blue-600 text-white py-2 px-4 font-semibold rounded-lg shadow-lg hover:from-blue-600 hover:to-blue-700 cursor-pointer transition transform hover:scale-105" />
          </div>
        </form>
      </div>
    </div>

    <div id="message" class="text-red-600 text-lg flex justify-center font-semibold my-4"></div>

    <div class="w-full container md:mx-auto mt-0">
      <div class="w-full max-w-4xl p-6 rounded-lg shadow-2xl md:mx-auto">
        <div class="flex items-center justify-between mb-6">
          <h5 class="text-2xl font-bold leading-none text-gray-900">Your Shortened URLs</h5>
        </div>
        <div class="flow-root">
          <ul role="list" class="space-y-6">
            <% if (data.shortURL && data.shortURL.length> 0) { %>
              <% data.shortURL.forEach(item=> { %>
                <li class="py-6 px-8 bg-gray-50 hover:bg-gray-200 rounded-lg shadow-md">
                  <div class="flex items-center gap-6">
                    <div class="w-16 h-16 flex-shrink-0">
                      <img class="w-full h-full object-cover rounded-full" src="./../img.svg" alt="URL Icon">
                    </div>
                    <div class="flex flex-col flex-grow">
                      <span class="text-gray-900 font-semibold">Short ID: <a href="/url/<%- item.shortId %>"
                          target="_blank" class="text-sm text-blue-500 underline">
                          /<%- item.shortId %>
                        </a></span>

                      <span class="text-sm text-gray-600 mt-1">Redirect URL: <%- item.redirectURL %></span>
                      <span class="text-sm text-gray-600 mt-1">Total Clicks: <%- item.visitHistory.length %></span>
                    </div>
                  </div>
                  <div class="mt-4 flex gap-3">
                    <button class="bg-blue-500 hover:bg-blue-600 text-sm text-white py-1 px-3 rounded-md" id="visitBtn"
                      onclick="toggleVisitHistory('<%- item.shortId %>')">
                      Visit History
                    </button>
                    <button class="bg-red-500 hover:bg-red-600 text-sm text-white py-1 px-3 rounded-md" id="deleteBtn"
                      onclick="deleteURL(this, '<%- item.shortId %>', '<%- data._id %>')">
                      Delete
                    </button>
                  </div>
                  <% if (item.visitHistory && item.visitHistory.length> 0) { %>
                    <div class="history-container mt-4" id="visitHistoryDiv_<%- item.shortId %>" style="display: none;">
                      <% item.visitHistory.forEach(historyItem=> { %>
                        <div>
                          <p class="text-gray-700 text-sm"><%- new Date(historyItem.timestamp).toLocaleString() %></p>
                        </div>
                        <% }) %>
                    </div>
                    <% } else { %>
                      <div class="history-container mt-4" id="noVisitHistoryDiv_<%- item.shortId %>"
                        style="display: none;">
                        <p class="text-gray-700 text-sm">No visit history available</p>
                      </div>
                      <% } %>
                </li>
                <% }) %>
                  <% } else { %>
                    <p class="text-gray-700 text-sm mt-1 font-semibold">No short URLs available.</p>
                    <% } %>
          </ul>
        </div>
      </div>
    </div>
  </section>


  <div class="mt-auto">
    <footer class="bg-white rounded-lg shadow dark:bg-gray-900">
      <div class="w-full max-w-screen-xl mx-auto p-3">
        <div class="sm:flex sm:items-center sm:justify-between">
          <a href="#" class="flex items-center mb-2 sm:mb-0 space-x-3 rtl:space-x-reverse">
            <span class="self-center text-xl font-semibold whitespace-nowrap dark:text-white">ShortHub</span>
          </a>

        </div>
        <hr class="my-3 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-6" />
        <span class="block text-xs text-gray-500 sm:text-center dark:text-gray-400 mt-2">© 2023 ShortHub™. All Rights
          Reserved.</span>
      </div>
    </footer>
  </div>


  <script src="../js/profile.js"></script>
</body>

</html>